<% include ../header.ejs %>
    <table class="table table-bordered table-hover">
        <tr>
            <td>제목</td>
            <td>작성일</td>
            <td>삭제</td>
        </tr>

        <tr>
            <td>
                
                   제목
                
            </td>
            <td>
                년 월 일
            </td>
            <td>
                삭제
            </td>
        </tr>
        
    </table>

    <a href="/contacts/write" class="btn btn-default">작성하기</a>

<% include ../footer.ejs %>