<% include ../header.ejs %>

<table class="table table-bordered table-hover">
    <tr>
        <td>제목</td>
        <td>작성일</td>
        <td>삭제</td>
    </tr>
    <tr>
        <td>안녕</td>
        <td>오늘</td>
        <td>삭제</td>
    </tr>
</table>

<% include ../footer.ejs %>